%h2= "Hello, you've been invited by #{@inviter.first} #{@inviter.last} to add contents to their Album in Albumeer!"

- if @twitter_hashtags.present?
  %h3= "Use the following hashtags in Twitter"
  %ul
    - @twitter_hashtags.each do |hashtag|
      %li= hashtag

- if @instagram_hashtags.present?
  %h3= "Use the following hashtags in Instagram"
  %ul
    - @instagram_hashtags.each do |hashtag|
      %li= hashtag

%h3
  You can view the Album
  = link_to('here', "http://www.albumeer.com#{event_path(@event)}")