.row
  .large-4.columns
    = form_for @user do |f|
      = f.label :first
      = f.text_field :first
      = f.label :last
      = f.text_field :last
      = f.label :email
      = f.text_field :email
      = f.label :password
      = f.password_field :password
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      %br
      = f.submit 'Log in', :class => 'button small small round'
      = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button alert small small round')

  .large-4.columns
