#create_event_form
  = form_for @event do |f|
    = f.label :name
    = f.text_field :name
    = f.label :description
    = f.text_area :description
    .inline-block= f.label :is_post_public?
    .inline-block= f.check_box :is_post_public?
    .inline-block= f.label :is_view_public?
    .inline-block= f.check_box :is_view_public?
    = f.label :address
    = f.text_field :address
    = label_tag 'Enter twitter hashtags separated by commas'
    = text_field_tag :twitter_hashtags
    = label_tag 'Enter instagram hashtags separated by commas'
    = text_field_tag :instagram_hashtags
    = label_tag 'Enter twitter handles that can post separated by commas'
    = text_field_tag :twitter_handles
    = label_tag 'Enter instagram handles that can post separated by commas'
    = text_field_tag :instagram_handles
    = hidden_field_tag :user_id, @auth.id
    = f.submit 'Create Event'
