.row
  .large-1.columns
  .large-5.columns
    #create_event_form
      = form_for @event do |f|
        = f.label :name
        = f.text_field :name
        = f.label :description
        = f.text_field :description
        .inline-block= f.label :is_post_public?
        .inline-block= f.check_box :is_post_public?
        .inline-block= f.label :is_view_public?
        .inline-block= f.check_box :is_view_public?
        / = f.label :address
        / = f.text_field :address
        = label_tag 'Twitter hashtags separated by commas'
        = text_field_tag :twitter_hashtags
        = label_tag 'Instagram hashtags separated by commas'
        = text_field_tag :instagram_hashtags
        = label_tag 'Twitter handles that can post separated by commas'
        = text_field_tag :twitter_handles
        = label_tag 'Instagram handles that can post separated by commas'
        = text_field_tag :instagram_handles
        = hidden_field_tag :user_id, @auth.id
        = f.submit 'Create Event'
  .large-1.columns
  .large-2.columns
    %p This is where you get started. Enter some search criteria for your Album
  .large-3.columns
