- @events.each do |event|
  = link_to(event.name, event)

== "#{parse_tweet(@events.last.contents.first.twitter_body)} #{link_to(@phrase, @phrase)}"
== "#{parse_tweet(@events.last.contents.last.twitter_body)} #{link_to(@phrase, @phrase)}"
