.row
  .span12
    %h2.white= @event.name
    #main{:role => "main"}
      %ul#tiles
        - @event.order_contents_created_at.uniq.each do |content|
          - if content.content_type == 'twitter' && content.twitter_media_url.present?
            %li
              %p
                = "@" + content.twitter_screen_name + " - Twitter"
              = image_tag(content.twitter_media_upload.thumb)
              %p
                == "#{parse_tweet(content.twitter_body)} #{link_to(@phrase, @phrase)}"
          -elsif content.content_type == 'twitter' && content.twitter_media_url.blank?
            %li
              %p
                = "@" + content.twitter_screen_name + " - Twitter"
              == "#{parse_tweet(content.twitter_body)} #{link_to(@phrase, @phrase)}"
          - elsif content.content_type == 'instagram' && content.instagram_media_url.present?
            %li
              %p
                = "@" + content.instagram_screen_name + " - Instagram"
              = image_tag(content.instagram_media_url, :size => '225x225')
              %p
                = content.instagram_body

