<nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/">
            Albumeer
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <% if @auth.blank?  %>
          <li><%= link_to('Login', login_path, :remote => true) %></li>
          <li><%= link_to('Register', new_user_path, :remote => true) %></li>
        <% else %> <!-- the user is logged in -->
          <li><%= link_to('Your Albums', user_path(@auth)) %></li>
          <li><%= link_to('New Album', new_event_path) %></li>
          <li><%= link_to('Logout', login_path, :method => 'delete') %></li>
          <% end %>
      </ul>
    </section>
  </nav>

  <!-- End Top Bar -->
